<!--The content below is only a placeholder and can be replaced.-->
<header style="text-align:center">
  <img alt="logo" width="140px" src="/assets/Images/logo.png">
  <p class="about style-scope vt-home">
    Language identification and sentiment analysis of short texts.
  </p>
</header>
<div class="container">
  <mat-tab-group dynamicHeight>
    <mat-tab label="First">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">find_in_page</mat-icon>
        File
      </ng-template>
      <div class="upload-cercle">
        <mat-icon style="height: 100px; width: 100px; font-size: 100px; color: #DBDBDB;">insert_drive_file</mat-icon>
        <br>

        <!-- <form>
          <div class="form-group">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </form> -->
        <label class="import-file">
          <input type="file" style="display: none;" (change)="onFileSelected($event)">
          <div>{{selectedFileName}}</div>
        </label>

      </div>
    </mat-tab>
    <mat-tab label="Second">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">search</mat-icon>
        Search
      </ng-template>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Enter a text..."></textarea>
        </mat-form-field>
      </form>
      <div style="width:100%; text-align: center;">
        <button mat-button class="analize-button">Analyze</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


<router-outlet></router-outlet>